
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:wght@400;600;700&display=swap');

.select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color:#9F9F9F;
    width: 45px;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    text-align-last: center;
}
option{
    text-align: center;
}