@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



.banner{
    background-image: url('@/assets/images/banner/banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}